.carousel{
    width:60vw;  /*サイズ指定*/
    margin: auto;
    margin-top: 30px;
 }
 .carousel img{
    width:100%;
 }

 .head {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: black;
 }

 .head > img {
    height: 80%;
    margin-left: 50px;
 }
 .head > h1 {
    margin-left: 50px;
    font-size: 80px;
    color: white;
 }

 body {
    background-color: blanchedalmond;
 }

 .main {
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 margin-bottom: 100px;
 }
 
 .type {
    margin-top: 30px;
	display: flex;
	justify-content:space-between;
	border: 1px black solid;
	width: 800px;
	background-color: rgb(255, 255, 255);
 }

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.type > div >img {
	height: 300px;
	width: 400px;
}

*, *:before, *:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.contents {
	margin-bottom: 100px;
}
footer {
	position: fixed;
	bottom: 0;
	display: inline-block;
	width: 100%;
	height: 70px;
	margin: 0;
	background-color: #000000;
	box-shadow: 0 -3px 3px 0 rgba(0,0,0,0.2);
}
footer .copyright {
	float: left;
	width: 60%;
}
footer .copyright p {
	font-size: 0.7em;
	line-height: 70px;
	padding-left: 10%;
	letter-spacing: 1px;
	color: #ffffff;
}
footer .sns {
	float: right;
	width: 40%;
}
footer .sns a {
	width: 25%;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 70px;
	float: left;
	-webkit-transition: all, 0.3s;
	        transition: all, 0.3s;
	text-align: center;
	text-decoration: none;
	color: white;
}
footer .sns a:hover {
	-webkit-transition: all, 0.3s;
	        transition: all, 0.3s;
	background-color: #222222;
}
footer .sns .insta {
	background-color: #e4405f;
}
footer .sns .fb {
	background-color: #3b5999;
}
footer .sns .tw {
	background-color: #55acee;
}
footer .sns .contact {
	background-color: #d42e58;
}
@media (max-width: 480px) {
	.contents {
		margin-bottom: 200px;
	}
	footer {
		height: auto;
	}
	footer .copyright {
		width: 100%;
	}
	footer .copyright p {
		padding: 0;
		text-align: center;
	}
	footer .sns {
		width: 100%;
	}
}